<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Spring Boot WebSocket Chat Application</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<div id="login-page">
    <div class="page-container">
        <h1 class="title">Java EE Chat</h1>
        <h3>Please login</h3>
        <form action="#" th:action="@{/check}" th:object="${loginForm}" method="POST">
            <div class="form-group">
                <input type="text" th:field="*{email}" th:placeholder="'*Email'" th:autocomplete="off" class="form-control"/>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="show-error"></p>
                <input type="password" th:field="*{password}" th:placeholder="'*Password'" th:autocomplete="off" class="form-control"/>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="show-error"></p>
            </div>
            <div class="form-group">
                <p th:if="${NotFound}" th:text=${NotFound} ></p>
                <button type="submit" name="action" class="accent btn-submit" value="Login">Login</button>
                <button type="submit" name="action" class="primary btn-submit" value="Register">Register</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>